Package: nl.ruudputs.connectionlogger
Name: ConnectionLogger
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ruud Puts
Author: Ruud Puts
Section: Tweaks
